set_io data[0] 79
set_io data[1] 80
set_io data[2] 81
set_io data[3] 82
set_io data[4] 83
set_io data[5] 84
set_io data[6] 85
set_io data[7] 86
set_io data[8] 87
set_io data[9] 88
set_io data[10] 89
set_io data[11] 90
set_io data[12] 91
set_io data[13] 92
set_io out 95
set_io clk 96
set_io rst 97
set_io en 98
set_io load 99
set_io clk 21
set_io data[14] 100
set_io data[15] 101
