set_io data[0] 99
set_io data[1] 93
set_io data[2] 94
set_io data[3] 95
set_io data[4] 96
set_io rst 97
set_io en 98
set_io data[5] 22
set_io data[6] 20
set_io data[7] 19
set_io data[8] 38
set_io data[9] 37
set_io data[10] 26
set_io data[11] 25
set_io data[12] 24
set_io data[13] 23
set_io data[14] 87
set_io data[15] 88
set_io out 76
set_io clk 21
